@model WebApi.Models.Directory

<div ng-app="dirViewApp">
    <div class="container dir_view" ng-controller="dir_view">
        <table class="col-md-4 table table-bordered table-condensed counts-table" >
            <thead>
                <tr>
                    <th>Less 10Mb</th>
                    <th>10Mb-50Mb</th>
                    <th>More 100Mb</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ dir.SmallFilesCount }}</td>
                    <td>{{ dir.MediumFilesCount }}</td>
                    <td>{{ dir.LargeFilesCount }}</td>
                </tr>
            </tbody>
        </table>
        <p class="current-path">
            Current path: <span class="path">{{ dir.Path }}</span>
        </p>
        <ul class="list-unstyled directory-content">
            <li ng-repeat="file in dir.Directories"><a ng-click="open(file.Path)">{{ file.Name }}</a></li>
            <li ng-repeat="file in dir.Files"><a ng-href="?path={{ file.Path }}">{{ file.Name }}</a></li>
        </ul>
    </div>
</div>
@section Scripts{
    @Scripts.Render("~/bundles/angular")    
    @Scripts.Render("~/bundles/angular-resource")
    @Scripts.Render("~/bundles/dir_view")
}
