body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.dir_view {
  background-color: #f3f3f3;
  padding:15px;
  height:100%;
}

.counts-table thead {
  background: darkgray;
}

.current-path {
  font-weight: bold;
}

.path {
  color: gray;
  font-weight:normal;
}

.counts-table td {
  text-align: center;
}

.counts-table>thead>tr>th {
  color: white;
  font-weight: bold;
  text-align: center;
  border:none;
}

.directory-content{
  padding:14px;
  border: solid 1px lightgray;
}